body {


}


.prompt1 {
  

  font-size: 64px;
  font-family: 'Nanum Brush Script', cursive;
}

.prompt2 {

  font-size: 36px;
  font-family: 'Nanum Brush Script', cursive;
}

.stats {
  font-size: 24px;
  font-family: 'Arial'

}



.form {
  text-align: center
}
